nav {
  background-color:blue;
  text-align: center;
  margin: 1rem;
  padding: 1rem;
}

nav a {
  margin: 1rem
}

nav a.active {
  color: white;
  font-weight: bold;
}

nav a {
  color: rgb(255,255,255, .75);
}

